#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(52, 152, 219, 0.5);*/
}

.next {
  background-color: rgba(52, 152, 219, 0.5);
}
